*{
    box-sizing: border-box;
}

body div{
    margin: 36px;
    border: 1px solid red;
    border-radius: 8px;
    box-shadow: 3px -3px rgba(0, 0, 0, 0.2);
}

body div p{
    text-align: center;
    padding: 24px;
}