*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*!!!!!!!!Cor gradiente!!!!!!!!!! Aparentemente só funciona com a tag img no html*/
    background: linear-gradient(106deg, #0E0D10 24.24%, #0E0D10 53.01%, #121216 75.95%);
}

/*--------------------------------------------------------------------------------------------------------*/
/*Caixa Central*/
#big_box{
    /*Esse position faz que a posição do objeto seja relativa com o seu ancestral mais próximo, ou do container inicial
    Neste caso fiz para que ele sempre se posicione no meio da tela*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1106px;
    height: 654px;
    
    /* width: 600px;
    height: 450px; */

    display: flex;
    flex-direction: row;
    gap: 36px;

    border-radius: 34px;
    background: #070709;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.01);

    border: 2px dotted yellowgreen;
}

/*--------------------------------------------------------------------------------------------------------*/
/*Caixa de Login*/
.textos{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
}

#login{
    margin-left: 59px;
    border: 1px solid red;
}

#login h1{
    font-size: 48px;
    font-weight: 700;

    margin: 79px 0 60px 0;

    border: 1px dotted blue;
}

/*Texto Email*/
#login *{
    margin-left: 0.85px;
}

#login h2{
    font-size: 13.524px;
    font-weight: 400;

    border: 1px dotted white;
}

/*Form email*/
#email{
    width: 355px;
    height: 54.94px;
    padding: 0.85px;

    border-radius: 14.369px;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#email div{

    width: 352px;
    height: 53.25px;

    border-radius: 14.369px;
    background: #111112;
}

#email div form input{
    width: 353.31px;
    height: 53.25px;

    padding-left: 2px;

    border: none;
    background: none;
}

/*--------------------------------------------------------------------------------------------------------*/
/*Imagens*/
#images{
    border: 1px solid red;
}